.Text {
  margin-right: auto;
}

.title {
  font: var(--font-l);
  color: var(--primary-color);
  font-weight: lighter;
}

.text{
  letter-spacing: 1.2px;
  font: var(--font-m);
  font-weight: bold;
  color: var(--secondary-color);
}

.error {
  background: var(--bg-color);

  .title {
    color: var(--red-light);
    padding: 2px 10px;
  }

  .text{
    color: var(--red-dark);
    padding: 2px 10px;
  }
}
