.Button {
    cursor: pointer;

    svg {
        transition: transform 0.3s linear;
        transform: scale(0.8);
    }

    svg:hover {
        transform: scale(0.7);
    }
}

.clear {
    border: none;
    background: none;
    outline: none;
}

.outline {
    padding: 10px 15px;
    border: 1px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
}
