.Button {
    cursor: pointer;
    padding: 10px 15px;

    svg {
        transition: transform 0.3s linear;
        transform: scale(0.8);
    }

    svg:hover {
        transform: scale(0.7);
    }
}

.clear {
    border: none;
    background: none;
    outline: none;
}

.outline {
    border: 1px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
}

.background {
    background: var(--bg-color);
    color: var(--primary-color);
    border: none;
}

.backgroundInverted {
    background: var(--inverted-bg-color);
    color: var(--primary-color);
    border: none;
    border-radius: 50%;
}

.square {
    padding: 0;
}

.square.size_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.size_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.size_xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.size_xl {
    font: var(--font-xl);
}
