.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--bg-color-sidebar);
    position: relative;
    transition: width 0.3s;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
    background: var(--bg-color-sidebar-collapsed);

    .switchers {
        flex-direction: column;
    }

    .link {
        opacity: 0;
        width: 0;
    }
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.collapseBtn {
    position: absolute;
    right: -45px;
    bottom: 40px;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.item {
    display: flex;
    align-items: flex-start;
    gap: 5px;

}

.icon {
    transition: color .3s;
}

.item:hover {
    color: #fff;

    .icon {
        fill: #fff;
    }
}

.link {
    opacity: 1;
    transition: .2s opacity;
}
