.Wrapper {
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 7px;
}

.select {
  background: none;
  outline: none;
  color: var(--primary-color);
  padding: 10px 15px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
}

.label {
  color: var(--primary-color);
}

.option {
  color: var(--inverted-primary-color);
  background: slategray;
}
