.app_dark_theme {
  --bg-color: #131317;
  --inverted-bg-color: linear-gradient(to right, #8360c3, #2ebf91);
  --primary-color: #fff;
  --secondary-color: #939090;
  --inverted-primary-color: #000;

  // redesigned
  --dark-bg-redesigned: #090F11;
  --bg-redesigned: #0C1214;
  --light-bg-redesigned: #151C1F;
  --text-redesigned: #DBDBDB;
  --hint-redesigned: #555555;
  --cancel-redesigned: #D95757;
  --save-redesigned: #6CD98B;
  --icon-redesigned: #74A2B2;
  --accent-redesigned: #5ED3F3;

  // skeleton
  --skeleton-color: #d5d5e0;
  --skeleton-shadow: #232323;

  // code
  --code-bg: #34343a;

  // article card
  --card-bg: #46464e;

  // listbox
  --listbox-bg: #46464e;
}
