.app_dark_theme {
    --bg-color: #131317;
    --inverted-bg-color: linear-gradient(to right, #8360c3, #2ebf91);
    --primary-color: #fff;
    --secondary-color: #939090;
    --inverted-primary-color: #000;
}
