.app_new_theme {
  --bg-color: #131317;
  --inverted-bg-color: linear-gradient(to right, #262626, #4f4e4e);
  --primary-color: #1bb5cc;
  --secondary-color: #066593;
  --inverted-primary-color: #18287e;
  --bg-color-sidebar: linear-gradient(to right, #000, #4f4e4e);
  --bg-color-sidebar-collapsed: linear-gradient(to right, #4f4e4e, #262626);

  // redesigned
  --dark-bg-redesigned: #FFF3D6;
  --bg-redesigned: #F0C048;
  --light-bg-redesigned: #F2D791;
  --text-redesigned: #1B1311;
  --hint-redesigned: #B8B2A2;
  --cancel-redesigned: #FF5E5E;
  --save-redesigned: #52FA81;
  --icon-redesigned: #4875F0;
  --accent-redesigned: #1D59FF;

  // skeleton
  --skeleton-color: #d5d5e0;
  --skeleton-shadow: #232323;

  // code
  --code-bg: #34343a;

  // article card
  --card-bg: #46464e;

  // listbox
  --listbox-bg: #46464e;
}
