:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: linear-gradient(to right, #8360c3, #2ebf91);
    --primary-color: #000;
    --secondary-color: #939090;
    --inverted-primary-color: #fff;
}
