:root {
  --bg-color: #e8e8ea;
  --inverted-bg-color: linear-gradient(to right, #8360c3, #2ebf91);
  --primary-color: #000;
  --secondary-color: #282828;
  --inverted-primary-color: #fff;

  // redesigned
  --dark-bg-redesigned: #FFFFFF;
  --bg-redesigned: #EFF5F6;
  --light-bg-redesigned: #E2EEF1;
  --text-redesigned: #141C1F;
  --hint-redesigned: #ADBCC0;
  --cancel-redesigned: #FF7777;
  --save-redesigned: #62DE85;
  --icon-redesigned: #5ED3F3;
  --accent-redesigned: #00C8FF;

  // skeleton
  --skeleton-color: #d3d3d3;
  --skeleton-shadow: #424242;

  // code
  --code-bg: #9393c5;

  // article card
  --card-bg: #9393c5;

  // listbox
  --listbox-bg: #9393c5;
}
